.vs/CalendarSample/v16/Server/sqlite3/storage.ide-wal
.vs/CalendarSample/v16/Server/sqlite3/storage.ide-shm
.vs/CalendarSample/v16/Server/sqlite3/storage.ide
.vs/CalendarSample/v16/Server/sqlite3/db.lock
.vs/CalendarSample/v16/.suo
CalendarSample/bin/Debug/CalendarSample.pdb
CalendarSample/bin/Debug/CalendarSample.exe.config
CalendarSample/bin/Debug/CalendarSample.exe
CalendarSample/obj/Debug/UserControl/Day.g.i.cs
CalendarSample/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
CalendarSample/obj/Debug/MainWindow.g.i.cs
CalendarSample/obj/Debug/Forms/View/MainWindow.g.i.cs
CalendarSample/obj/Debug/Forms/View/MainWindow.g.cs
CalendarSample/obj/Debug/Forms/View/MainWindow.baml
CalendarSample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CalendarSample/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CalendarSample/obj/Debug/CalendarSample_MarkupCompile.lref
CalendarSample/obj/Debug/CalendarSample_MarkupCompile.i.lref
CalendarSample/obj/Debug/CalendarSample_MarkupCompile.i.cache
CalendarSample/obj/Debug/CalendarSample_MarkupCompile.cache
CalendarSample/obj/Debug/CalendarSample.pdb
CalendarSample/obj/Debug/CalendarSample.g.resources
CalendarSample/obj/Debug/CalendarSample.exe
CalendarSample/obj/Debug/CalendarSample.csprojAssemblyReference.cache
CalendarSample/obj/Debug/CalendarSample.csproj.GenerateResource.cache
CalendarSample/obj/Debug/CalendarSample.csproj.FileListAbsolute.txt
CalendarSample/obj/Debug/CalendarSample.csproj.CoreCompileInputs.cache
CalendarSample/obj/Debug/CalendarSample.Properties.Resources.resources
CalendarSample/obj/Debug/App.g.i.cs
CalendarSample/obj/Debug/App.g.cs
CalendarSample/bin/Debug/Common.pdb
CalendarSample/bin/Debug/Common.dll
.vs/CalendarSample/v15/Server/sqlite3/storage.ide-wal
CalendarSample/obj/Debug/UserControls/Day.g.i.cs
CalendarSample/obj/Debug/UserControls/Day.g.cs
CalendarSample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CalendarSample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CalendarSample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CalendarSample/obj/Debug/Pages/View/Calendar.g.i.cs
CalendarSample/obj/Debug/Pages/View/Calendar.g.cs
CalendarSample/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
CalendarSample/obj/Debug/GeneratedInternalTypeHelper.g.cs
CalendarSample/obj/Debug/CalendarSample.csproj.CopyComplete
packages/System.Windows.Interactivity.WPF.2.0.20525/lib/net40/System.Windows.Interactivity.xml
packages/System.Windows.Interactivity.WPF.2.0.20525/lib/net40/System.Windows.Interactivity.dll
packages/System.Windows.Interactivity.WPF.2.0.20525/lib/net40/Microsoft.Expression.Interactions.xml
packages/System.Windows.Interactivity.WPF.2.0.20525/lib/net40/Microsoft.Expression.Interactions.dll
packages/System.Windows.Interactivity.WPF.2.0.20525/System.Windows.Interactivity.WPF.2.0.20525.nupkg
packages/System.Windows.Interactivity.WPF.2.0.20525/.signature.p7s
packages/MicrosoftExpressionInteractions.3.0.40218.0/lib/net45/Microsoft.Expression.Interactions.dll
packages/MicrosoftExpressionInteractions.3.0.40218.0/lib/net40/Microsoft.Expression.Interactions.xml
packages/MicrosoftExpressionInteractions.3.0.40218.0/lib/net40/Microsoft.Expression.Interactions.dll
packages/MicrosoftExpressionInteractions.3.0.40218.0/MicrosoftExpressionInteractions.3.0.40218.0.nupkg
packages/MicrosoftExpressionInteractions.3.0.40218.0/.signature.p7s
.vs/CalendarSample/v15/Server/sqlite3/storage.ide-shm
.vs/CalendarSample/v15/Server/sqlite3/storage.ide
.vs/CalendarSample/v15/Server/sqlite3/db.lock
.vs/CalendarSample/v15/.suo
CalendarSample/obj/Debug/UserControls/Day.baml
CalendarSample/obj/Debug/Pages/View/Calendar.baml
